<h1 class="sem1">Sem Books</h1>
<img id="bookimg1" src="download.jpg" alt="">
<%- include('messages') %>
<p>You can add Only 8 Books</p>
<a id="logout" href="/logout">LogOut</a>
<a id="create" href="/create">Create Books</a>
<a id="exsist" href="/exsist">Exsisting Books</a><br>

